<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{meta_description}{/}">
<meta name="keywords" content="{meta_keywords}{/}">
<meta name="author" content="">
<title>{title}Epan{/}</title>
<!-- Bootstrap Core CSS --><link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS --><link href="css/clean-blog.min.css" rel="stylesheet">
<!-- Custom Fonts --><link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --><!-- WARNING: Respond.js doesn't work if you view the page via file:// --><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--><!--xEpan-ATK-Header-Start
 {$js_block}
 {$js_include}
 <script type="text/javascript">
 $(function(){
 {$document_ready}
 });
 </script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
 xEpan-ATK-Header-End--><script type="text/javascript">
    window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', 'f9bd9af8f4c03e3a362f7537b81fe750a5a54b7f');
</script>
</head>
<body><div class="xepan-v-body xepan-component xepan-sortable-component ui-sortable" xepan-component-name="Main Body" id="7f6b7967-71aa-436d-9ab2-b43c956f4942">
    <nav id="xepan-b6aa518a-3b08-4d1b-b3c1-03f0889aafb6" style="display: block;" role="navigation" xepan-component="xepan/cms/Tool_BootStrapMenu" xbootmenu-align="right" xepan-component-name="BootStrap Menu" class="navbar navbar-default xepan-component" xbmenu-brand-name="Double click here -&gt; enter template edit mode -&gt; double click -&gt; change -&gt; save " scrollamount=""><div style="width:80%;margin:0 auto;" inner-width="80" inner-unit="%" class="navbar-inner-container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <div class="navbar-brand-wrapper navbar-brand"><a title="Brand Name" class="xepan-brand">Double click here -&gt; enter template edit mode -&gt; double click -&gt; change -&gt; save </a></div>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul id="xepan-boostrap-ul" class="nav navbar-nav navbar-right">
<li><a href="index">HOME</a></li>
<li><a href="about">ABOUT US</a></li>
<li><a href="contact">CONTACT US</a></li>
</ul>
</div>
    <script>
      $(document).ready(function(){
      	$('#94873711__pan_cms_tool_bootstrapmenu .dropdown-toggle').dropdown();
      	
      	$('#94873711__pan_cms_tool_bootstrapmenu .dropdown-submenu a').on("click", function(e){
      	    $(this).next('ul').toggle();
      	    e.stopPropagation();
      	    e.preventDefault();
      	});
      });
    </script>
</div>
</nav><div id="2c2519c2-cdd3-4644-f400-ea09bd7c1ca0" xepan-component="xepan/cms/Tool_Container" emptytext="Container" style="width: 100%; margin: 0px auto;" xepan-component-name="Container" class="xepan-component xepan-sortable-component xepan-cms-container ui-sortable">
        <div id="874590a5-1683-4e29-cf77-5bd41f4f3ac7" xepan-component="xepan/cms/Tool_TemplateContentRegion" emptytext="Page Content" xepan-component-name="Template Content Region" class="xepan-component xepan-page-wrapper ui-sortable">{$Content}</div>
        <footer class="xepan-component" xepan-component-name="Footer-Section" style="margin-top: 100px; display: block;" id="e36fec21-1746-4573-e088-ab97f7f3fd5b" scrollamount=""><div class="container xepan-sortable-component&gt;
            &lt;div class=" row="">
                <div class="col-lg-8 xepan-sortable-component col-lg-offset-2 col-md-10 col-md-offset-1 ui-sortable xepan-sortable-extra-padding">
                    <p class="copyright xepan-component xepan-editable-text text-center text-muted mce-content-body" xepan-component-name="Text" id="e7844025-8a10-41c9-fd54-7fa58c25d259" style="position: relative;" contenteditable="false">Copyright © epan.in 2016</p>
                </div>
            </div>
        </footer>
</div>

  </div>
</body>
</html>
